#scoreBoardContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#scoreBoardContainer h1{
    font-size: 5vw;
    align-self: center;
    text-shadow: 0px 6px 2px rgba(131,131,122,.3);
}

#scoreBoardContainer button{
    color: #777070;
}

#total{
    color: #E1B23B;
    font-weight: bold;
}

#best{
    color: #4BDA18;
    font-weight: bold;
}

#scoreBoardContainer button{
    background-color: white;
    width: 15%;
    font-size: 2vw;
    border-radius: 15px;
    margin-left: 5px;
    cursor: pointer;
}